#frmLogin {
    padding: 20px 20px;
    background: #0086b3;
    color: BLACK;
    display: inline-block;
    border-radius: 2px;
    margin-top: 100px;
}

.field-group {
    margin: 10px 10px;
}

.input-field {
    padding: 10px;
    width: sm;
    border: black 2px solid;
    border-radius: 10px;
}

.form-submit-button {
    background: blue;
    border: 0;
    padding: 8px 20px;
    border-radius: 4px;
    color: #FFF;
    text-transform: uppercase;
}

.tlacidla {
    margin-top: 100px;
}

.logout-button {
    color: #09F;
    text-decoration: none;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.error-message {
    text-align: center;
    color: #FF0000;
}

.demo-content label {
    width: sm;
}

