
body {
    background-color: ghostwhite;
    background-attachment: relative;
    width: auto;
    height: auto;
    background-position: 0% 0%;
    font-size: 30px;
    font-family: "Times New Roman";
    text-align: justify;
    margin: auto;
 
}

.nav-fill {
    background-color: lightskyblue;
    font-family: "Times New Roman";
    font-size: 30px;
    text-decoration: NONE;
    padding: 4px;
    text-align: center;
    width: 1500px;
    height: 70px;
 
    
  
    margin-top: 0px;
    margin-bottom: 1px;
    margin-right: 10px;
    margin-left: 10px;
}


DIV {
    margin: 4px;
    padding: 2px;
}

footer {
    text-align: center;
    font-family: "Times New Roman";
    font-size: 30px;
}



.hlavna {
    font-family: Times New Roman;
    width: 1500px;
    height: auto;
    border: 4px groove;
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}





 
