body {
    background-color: #fcfcfc;
    background-attachment: relative;
    width: auto;
    height: auto;
    background-position: 0% 0%;
    font-size: 30px;
    font-family: "Times New Roman";
    text-align: justify;
    margin: auto;
}

DIV {
    margin: 4px;
    padding: 2px;
}

.hlavna {
    font-family: Times New Roman;
    width: 1488px;
    height: auto;
    border: 4px DOTTED;
    margin: 2px;
}

.menu A, A:link, A:visited {
    font-family: "Times New Roman";
    font-size: 30px;
    text-decoration: NONE;
    padding: 4px;
    text-align: center;
}

TABLE {
    text-align: center;
    font-family: "Times New Roman";
    list-style-type: none;
    background-color: #380000;
    font-size: 70px;
    width: 1500px;
    height: 8px;
    border-width: 4px;
    border-color: #260000;
    border-style: OUTSET;
    font-weight: bold;
}

td a {
    display: inline;
    color: #ffffff;
    padding: 1px 1px;
    text-decoration: none;
    border-radius: 5px 2px;
}

tr a:hover:not(.active) {
    background-color: #703232;
    color: white;
    border-radius: 55px 55px;
    box-shadow: 3px 3px #edaaaa;
    font-style: italic;
    display: inline;
}

input[type=text] {
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 4px;
    transition-timing-function: ease-in-out;
    cursor: text;
    position: relative;
    right: 0px;
    top: -5px;
}

    input[type=text]:focus {
        background-color: white;
    }


input[type=number] {
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 4px;
    transition-timing-function: ease-in-out;
    cursor: text;
    right: 0px;
    top: -5px;
}

    input[type=number]:focus {
        background-color: white;
    }

INPUT[type=submit] {
    background-color: buttonface;
    color: windowtext;
    border: 4px outset;
    Border-top-color: buttonhighlight;
    border-left-color: buttonhighlight;
    Border-bottom-color: buttonshadow;
    border-right-color: buttonshadow;
}
